#wrapper {
	 width: 1024;
	 background-color: #00A75B	
}

.logo {

	 float: left;
	 margin-left: 270px;


}

.conteiner {

	 width: 1100px;
	 margin: 0 auto;
	 background-color: white;
	 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.parrafo2 {
     background-color: #00A75B;
	 width: 1060px;
	 height: 200px;
	 padding: 20px;
	 text-align: justify;
	 margin-bottom: 10px;
	 margin-top: 50px;
	 font-family: 'Oxygen', sans-serif;
	 color: white

	}

.parrafo3 {
     background-color: #00A75B;
	 width: 1060px;
	 height: 200px;
	 padding: 20px;
	 text-align: justify;
	 margin-bottom: 120px;
	 margin-top: 80px;
	 font-family: 'Oxygen', sans-serif;
	 color: white;

}

.foto1 {

 width: 1100px;
 height: auto;


}

.foto1:hover {
     

     }
.foto2 {

	 border-radius: 20px;
	 padding: 10px;
	 margin-right: 20px;
}

.foto3 {
     border-radius: 20px;
	 padding: 10px;
	 margin-left: 20px;

}


.audio {

	 margin: 10px;
	 width: 45px;
}

.audio2 {

	 float: right;
	 width: 45px;
	 margin: 10px;
}

.p {

	 margin-top: 50px;
}

footer {
	 background-color: #00A75B;
	 padding: 10px;
	 font-family: 'Oxygen', sans-serif;
	 color: white;
}

